<a href="https://colab.research.google.com/github/aruna-prem27/aruna/blob/main/Python_for_beginners.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 1         # assign variable x the value 1
y = x + 5     # assign variable y the value of x plus 5
z = y         # assign variable z the value of y

In [ ]:
x = 1       # integer
x = 1.0     # decimal (floating point)

In [ ]:
x = 1
print(type(x)) # outputs: <class 'int'>

x = 1.0
print(type(x)) # outputs: <class 'float'>

<class 'int'>
<class 'float'>

In [ ]:
x = True
print(type(x)) # outputs: <class 'bool'>

<class 'bool'>

In [ ]:
x = 'This is a string'
print(x) # outputs: This is a string
print(type(x)) # outputs: <class 'str'>
y = "This is also a string"

This is a string
<class 'str'>

In [ ]:
# concatenation
x = 'Hello' + ' ' + 'World!'
print(x) # outputs: Hello World!

Hello World!

In [ ]:
print('Hello World!')

Hello World!

In [ ]:
name = input('Enter your name:')
print(name)

Enter your name:Aruna
Aruna

In [ ]:
print('What is your name?')
name = input()
print(name)

What is your name?
Aruna
Aruna

In [ ]:
x = input('Enter a number: ')
print(type(x))

Enter a number: 5
<class 'str'>

In [ ]:
x = int(input('Enter a number: '))
print(type(x))

Enter a number: 5
<class 'int'>

In [ ]:
x = 5
print('The number is ' + str(x)) # combines string and numeric

The number is 5

In [ ]:
# The str() method will take an integer or float value and turn it into a string.

In [ ]:
first_number = int(input('Type the first number: '))
second_number = int(input('Type the second number: '))
print("The sum is: ", first_number + second_number)

Type the first number: 26
Type the second number: 25
The sum is:  51

In [ ]:
first_number = int(input('Type the first number: ')) ;\
second_number = int(input('Type the second number: ')) ;\
print("The sum is: ", first_number + second_number)

Type the first number: 23
Type the second number: 2
The sum is:  25

In [ ]:
# The characters ;\, at the end of the first two statements signal that there are many lines of code.
# Using these characters lets you input all of the code, line by line.

In [ ]:
# Equals: a == b
#Not Equals: a != b
#Less than: a < b
#Less than or equal to: a <= b
#Greater than: a > b
#Greater than or equal to: a >= b

In [ ]:

a = 97
b = 55
# test expression
if a < b:
    # statement to be run
    print(b)

In [ ]:
# In Python, None and 0 are also interpreted as False.

In [ ]:
a = 93
b = 27
if a >= b:
    print(a)

93

In [ ]:
a = 24
b = 44
if a <= 0:
    print(a)
print(b) # indentation is important

44

In [ ]:
a = 27
b = 93
if a >= b:
    print(a)
else:
    print(b)

93

In [ ]:
a = 27
b = 93
if a <= b:
    print("a is less than or equal to b")
elif a == b:
    print("a is equal to b")

a is less than or equal to b

In [ ]:
a = 27
b = 93
if a < b:
    print("a is less than b")
elif a > b:
    print("a is greater than b")
else:
    print ("a is equal to b")

a is less than b

In [ ]:
# Nested Loop

In [ ]:
a = 16
b = 25
c = 27
if a > b:
    if b > c:
        print ("a is greater than b and b is greater than c")
    else:
        print ("a is greater than b and less than c")
elif a == b:
    print ("a is equal to b")
else:
    print ("a is less than b")

a is less than b

In [ ]:
a = 23
b = 34
if a == 34 or b == 34:
    print(a + b)


# For Or
# True or True = True
# True or false = True
# False or True = True
# False or False = False

57

In [ ]:
a = 23
b = 34
if a == 34 and b == 34:
    print (a + b)

# For And
# True and True = True
# True and False = False
# False and True = False
# False and False = False

In [ ]:
print["show this in the console"] # use of proper bracket

TypeError: 'builtin_function_or_method' object is not subscriptable

In [ ]:
left_side = 10
right_side = 5
left_side / right_side # 2

2.0

In [ ]:
from datetime import date
date.today()

datetime.date(2024, 7, 13)

In [ ]:
print(date.today())

2024-07-13

In [ ]:
print("Today's date is: " + date.today())

TypeError: can only concatenate str (not "datetime.date") to str

In [ ]:
print("Today's date is: " + str(date.today()))

Today's date is: 2024-07-13

In [ ]:
import sys

print(sys.argv)
print(sys.argv[0]) # program name
print(sys.argv[1]) # first arg

# Assignment operators
#	x = 2
# x now contains 2.
# x += 2
# x incremented by 2. If it contained 2 before, it now has a value of 4.
#	x -= 2
# x decremented by 2. If it contained 2 before, it now has a value of 0.
#	x /= 2
# x divided by 2. If it contained 2 before, it now has a value of 1.
# *=

['/usr/local/lib/python3.10/dist-packages/colab_kernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-83910018-da0f-4c61-8ff8-cc7ad7928acf.json']
/usr/local/lib/python3.10/dist-packages/colab_kernel_launcher.py
-f

In [ ]:
print("Welcome to the greeter program")
name = input("Enter your name: ")
print("Greetings " + name)

Welcome to the greeter program
Enter your name: Aruna
Greetings Aruna

In [ ]:
fact = "The Moon has no atmosphere."
print(fact)

The Moon has no atmosphere.

In [ ]:
fact = "The Moon has no atmosphere."
fact + "No sound can be heard on the Moon."

'The Moon has no atmosphere.No sound can be heard on the Moon.'

In [ ]:
# In Python, strings are immutable

In [ ]:
fact = "The Moon has no atmosphere."
fact + "No sound can be heard on the Moon."
print(fact)

The Moon has no atmosphere.

In [ ]:
fact = "The Moon has no atmosphere."
two_facts = fact + "No sound can be heard on the Moon."
print(two_facts)

The Moon has no atmosphere.No sound can be heard on the Moon.

In [ ]:
multiline = "Facts about the Moon:\n There is no atmosphere.\n There is no sound."
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no sound.

In [ ]:
multiline = """Facts about the Moon:
 There is no atmosphere.
 There is no sound."""
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no sound.

In [ ]:
print("temperatures and facts about the moon".title())

Temperatures And Facts About The Moon

In [ ]:
heading = "temperatures and facts about the moon"
heading_upper = heading.title()
print(heading_upper)

Temperatures And Facts About The Moon

In [ ]:
temperatures = "Daylight: 260 F Nighttime: -280 F"
temperatures_list = temperatures.split()
print(temperatures_list)

['Daylight:', '260', 'F', 'Nighttime:', '-280', 'F']

In [ ]:
temperatures = "Daylight: 260 F\n Nighttime: -280 F"
temperatures_list = temperatures.split('\n')
print(temperatures_list)

['Daylight: 260 F', ' Nighttime: -280 F']

In [ ]:
print("Moon" in "This text will describe facts and challenges with space travel")

False

In [ ]:
print("Moon" in "This text will describe facts about the Moon")

True

In [ ]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius, while Mars has -28 Celsius."""
print(temperatures.find("Moon"))

-1

In [ ]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius, while Mars has -28 Celsius."""
print(temperatures.find("Mars"))

64

In [ ]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius, while Mars has -28 Celsius."""
print(temperatures.count("Mars"))
print(temperatures.count("Moon"))

1
0

In [ ]:
print("The Moon And The Earth".lower())

the moon and the earth

In [ ]:
print("The Moon And The Earth".upper())

THE MOON AND THE EARTH

In [ ]:
temperatures = "Mars Average Temperature: -60 C"
parts = temperatures.split(':')
print(parts)
print(parts[-1])

['Mars Average Temperature', ' -60 C']
 -60 C

In [ ]:
mars_temperature = "The highest temperature on Mars is about 30 C"
for item in mars_temperature.split():
    if item.isnumeric():
        print(item)

30

In [ ]:
print("-60".startswith('-'))

True

In [ ]:
if "30 C".endswith("C"):
 print("This temperature is in Celsius")

This temperature is in Celsius

In [ ]:
print("Saturn has a daytime temperature of -170 degrees Celsius, while Mars has -28 Celsius.".replace("Celsius", "C"))

Saturn has a daytime temperature of -170 degrees C, while Mars has -28 C.

In [ ]:
text = "Temperatures on the Moon can vary wildly."
print("temperatures" in text)

False

In [ ]:
text = "Temperatures on the Moon can vary wildly."
print("temperatures" in text.lower())

True

In [ ]:
moon_facts = ["The Moon is drifting away from the Earth.", "On average, the Moon is moving about 4cm every year."]
print(' '.join(moon_facts))

The Moon is drifting away from the Earth. On average, the Moon is moving about 4cm every year.